[project]
	description = A collaboration utility for SOFE-2800U projects.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AnjaliShah
[access "refs/for/refs/*"]
	read = group user/AnjaliShah
	push = group user/AnjaliShah
	label-Code-Review = -2..+2 group user/AnjaliShah
	label-Verified = -1..+1 group user/AnjaliShah
	rebase = group user/AnjaliShah
	removeReviewer = group user/AnjaliShah
	submit = group user/AnjaliShah
[access "refs/heads/*"]
	read = group user/AnjaliShah
	create = group user/AnjaliShah
	push = +force group user/AnjaliShah
	pushMerge = group user/AnjaliShah
[access "refs/tags/*"]
	push = group user/AnjaliShah
	push = +force group user/AnjaliShah
